{%load static%}
<!DOCTYPE>
<html>
<head>


    <title></title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static "iris/main.css"%}">
    
</head>
<body>


    {%if messages%}
        {%for message in messages%}
            {{message}}
        {%endfor%}
    {%endif%}
    
    
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{%url 'iris-home'%}">Django Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{%url 'iris-home'%}">Home</a>
              <a class="nav-item nav-link" href="{%url 'iris-about'%}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {%if user.is_authenticated%}
                  <a class="nav-item nav-link" href="{%url 'post-create'%}">New Post</a>  
                  <a class="nav-item nav-link" href="{%url 'users-profile'%}">Profile</a>
                  <a class="nav-item nav-link" href="{%url 'users-logout'%}">Logout</a>
                {%else%}
                  <a class="nav-item nav-link" href="{%url 'users-login'%}">Login</a>
                  <a class="nav-item nav-link" href="{%url 'users-register'%}">Register</a>
                {%endif%}
            </div>
          </div>
        </div>
      </nav>
    </header>


    {%block content%}{%endblock%}



</body>
</html>